<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pantallas_Sistema_facturacion.Properties.Settings._DBFACTURAS_ConnectionString"
            connectionString="Data Source=DESKTOP-1LKD8JP\UNIDB;Initial Catalog=[DBFACTURAS];Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>